{
  "host": "mail.host.com",
  "auth": true,
  "username": "mailer@domain.com",
  "password": "password",
  "secure": "ssl",
  "port": 465,
  "recipients": "recipient1@gmail.com, recipient2@outlook.com, recipient3@yahoo.com"
}
