{
  "host": "mail.host.com",
  "auth": true,
  "user": "mailer@domain.com",
  "pass": "password",
  "secure": "ssl",
  "port": 465,
  "recipients": "recipient1@gmail.com, recipient2@outlook.com, recipient3@yahoo.com",
  "from": "'Mailing tester' <noreply@mailing.test>",
  "subject": "Mailing test"
}
